<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmerz.app.category">

<!-- 카테고리리스트 가져오기 -->
<select id="selectCategoryList" resultType="CategoryVo">
	select * from tbl_category
	where community_id = #{community_id}
	<!-- and category_status = #{category_status} -->
</select>

<!-- 카테고리 생성 -->
<insert id="insertCategory">
	insert into tbl_category(category_id, community_id,
							 category_name, category_description, category_status)
	values(seq_category_id.nextval, #{community_id},
	#{category_name}, #{category_description}, #{category_status})
</insert>

</mapper>