<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmerz.app.community">

<!-- 모든 커뮤니티 갯수 -->
<select id="countAllCommunity" resultType="int">
	select count(*) from tbl_community
</select>

<select id="getOneCommunity" resultType="CommunityVo">
	select * from tbl_community where community_id = #{community_id}
</select>

<!-- 커뮤니티 생성 -->
<insert id="insertCommunity">
	insert into tbl_community(
		community_id, community_name,
		community_topic, community_description, community_status
	)
	values(
		#{community_id}, #{community_name},
		#{community_topic}, #{community_description}, #{community_status}
	)
</insert>

<!-- 커뮤니티 리스트 가져오기 -->
<select id="selectCommunityList" resultType="CommunityVo">
	select * from tbl_community
</select>

</mapper>