<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmerz.app.community">

<insert id="insertMedia">
	insert into tbl_media(media_no, media_id, media_path)
	values(seq_media_no.nextval, #{media_id}, #{media_path})
</insert>

</mapper>