<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmerz.app.member">

<select id="selectSeqUserNO" resultType="Integer">
	select seq_user_no.nextval from dual
</select>

<!-- 회원가입 -->
<insert id="insertMember">
	insert into tbl_member(user_no, user_id, user_pw, user_name, user_point, user_totalpoint)
	values(#{user_no}, #{user_id}, #{user_pw}, #{user_name}, #{user_point}, #{user_totalpoint})
</insert>

<!-- 모든 유저 정보 -->
<select id="selectAll" resultType="MemberVo">
	select * from
		(select rownum rnum, a.* from
			(select * from tbl_member
			<include refid="search"></include>
			order by user_totalpoint desc)a)
	where rnum between #{startRow} and #{endRow}
</select>

<!-- 모든 유저 카운트 -->
<select id="selectAllCount" resultType="Integer">
	select count(*) from tbl_member
	<include refid="search"></include>
</select>

<!-- 검색 -->
<sql id="search">
	<if test="searchType != null">
		<choose>
			<when test="searchType == 'user_name'">
				where user_name like '%' || #{keyword} || '%'
			</when>
			<when test="searchType == 'user_id'">
				where user_id like '%' || #{keyword} || '%'
			</when>
		</choose>
	</if>
</sql>

<!-- id로 유저정보 찾기 -->
<select id="selectID" resultType="MemberVo">
	select * from tbl_member where user_id = #{user_id}
</select>

<!-- no로 유저정보 찾기 -->
<select id="selectNO" resultType="MemberVo">
	select * from tbl_member where user_no = #{user_no}
</select>

<!-- 로그인  -->
<select id="selectUser" resultType="MemberVo">
	select * from tbl_member where user_id = #{user_id} and user_pw = #{user_pw}
</select>

<!-- 최근 로그인 업데이트 -->
<update id="updateCurrentLogin">
	update tbl_member set user_currentlogin = sysdate
	where user_no = #{user_no}
</update>

<!-- 아이디 사용가능 여부 체크 -->
<select id="selectUserIdCount" resultType="int">
	select count(*) from tbl_member
	where user_id = #{user_id}
	and user_status = #{user_status}
</select>

<!-- 닉네임 사용가능 여부 체크 -->
<select id="selectUserNameCount" resultType="int">
	select count(*) from tbl_member
	where user_name = #{user_name}
	and user_status = #{user_status}
</select>

<!-- 닉네임 변경 -->
<update id="updateUserName">
	update tbl_member set user_name = #{user_name}
	where user_no = #{user_no}
</update>

<!-- 비밀번호 변경 -->
<update id="updateUserPw">
	update tbl_member set user_pw = #{user_pw}
	where user_no = #{user_no}
</update>

<!-- 프로필 이미지 변경 -->
<update id="updateUserProfileImage">
	update tbl_member set user_profileImage = #{filePath}
	where user_no = #{user_no}
</update>

<!-- 유저 상태 변경 -->
<update id="updateUserStatus">
	update tbl_member set user_status = #{user_status}
	where user_no = #{user_no}
</update>

<!-- 유저 포인트 변경 -->
<update id="updateUserPoint">
	update tbl_member 
	set user_point = #{user_point},
		user_totalpoint = #{user_totalpoint}	
	where user_no = #{user_no}
</update>
</mapper>