<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmerz.app.pointlog">

<!-- 새로운 포인트 변경사항 입력 -->
<insert id="insertPointLog">
	insert into tbl_point_log values(
		seq_pointlog_id.nextval,
		#{user_no},
		#{point_content},
		#{point_now},
		#{point_score},
		#{point_total},
		sysdate
	)
</insert>

<!-- 가장 최근 유저 포인트 로그  조회 -->
<select id="selectPreUserNo" resultType="PointLogVo">
	select * from
	(select * from tbl_point_log
	where user_no = #{user_no}
	order by point_datetime desc)
	where rownum = 1
</select>

<!-- 유저 포인트 로그 조회 -->
<select id="selectUserNo" resultType="PointLogVo">
	select * from tbl_point_log
	where user_no = #{user_no}
	order by point_datetime desc
</select>

</mapper>