<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmerz.app.posts">

<!-- 유저의 게시글 -->
<select id="selectUserNoList" resultType="PostsVo">
	select * from tbl_posts where user_no = #{user_no}
</select>

<!-- 열람가능 게시글 수 -->
<select id="countPosts" resultType="Integer">
	select count(*) from tbl_posts where post_status>=0
</select>

<!-- 모든 게시글 수 -->
<select id="countAllPosts" resultType="Integer">
	select count(*) from tbl_posts
	<include refid="search"></include>
</select>

<!-- 관리자 페이지용 조회쿼리 -->
<select id="selectAllPosts" resultType="PostsVo">
	select * from
		(select rownum rnum, a.* from
			(select * from tbl_posts
			<include refid="search"></include>
			order by post_no desc)a)
	where rnum between #{startRow} and #{endRow}
</select>

<!-- 검색 -->
<sql id="search">
	<if test="searchType != null">
		<if test="keyword != null || keyword != ''">
			<choose>
				<when test="searchType == 'post_title'">
					where post_title like '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'user_name'">
					where user_no in (select user_no from tbl_member
						where user_name like '%' || #{keyword} || '%')
				</when>
				<when test="searchType == 'community_name'">
					where community_id in (select community_id from tbl_community
						where community_name like '%' || #{keyword} || '%')
				</when>
			</choose>
		</if>
	</if>
</sql>

<!-- 허용된 게시글 가져오기 -->
<select id="selectAllowPosts" resultType="PostsVo">
	select * from tbl_posts 
	where post_status >= #{status} 
	order by post_no desc
</select>

<!-- 글 조회 -->
<select id="selectPost" resultType="PostsVo">
	select * from tbl_posts where post_no = #{post_no}
</select>

<!-- 조회수 증가 -->
<update id="updateReadCount">
	update tbl_posts 
	set post_readcount = post_readcount + 1
	where post_no = #{post_no}
</update>


<!-- 커뮤니티 페이지 이동후 나오는 포스트 -->
<select id="selectCommunityPostList" resultType="PostsVo">
	select * from tbl_posts
	where community_id = #{community_id}
	and post_status >= #{post_status}
	order by post_no desc
</select>

<!-- 카테고리 선택시 나오는 포스트 -->
<select id="selectCategoryPostList" resultType="PostsVo">
	select * from tbl_posts
	where community_id = #{community_id}
	and category_no = #{category_no}
	and post_status >= #{post_status}
	order by post_no desc
</select>

<!-- 글번호 시퀀스 조회 -->
<select id="selectSeqPostno" resultType="Integer">
	select seq_post_no.nextval from dual
</select>
<select id="selectCurrentSeq" resultType="Integer">
	SELECT LAST_NUMBER FROM USER_SEQUENCES  WHERE SEQUENCE_NAME = 'SEQ_POST_NO'
</select>

<insert id="postingDetail">
insert into tbl_posts values(
	#{post_no},
	#{user_no},
	#{community_id},
	#{category_no},
	#{post_title},
	#{post_content_file},
	0,
	0,
	sysdate,
	null,
	0
	)
</insert>
<update id="updatePost">
	update tbl_posts set
	community_id = #{community_id},
	category_no = #{category_no},
	post_title = #{post_title},
	post_content_file = #{post_content_file},
	post_updatetime = sysdate,
	post_status = #{post_status}
	where post_no = #{post_no}
</update>
<update id="deletePost">
	update tbl_posts set
	post_status = 'deny'
	where post_no = #{post_no}
</update>
<!-- 로그인 유저가 작성한 개시글 갯수 구하기 -->
<select id="selectUserPostCount" resultType="int">
	select count(*) from tbl_posts where user_no = #{user_no}
</select>

<select id="selectLoadPost" resultType="PostsVo">
	select * from (select rownum as row_num, po.* from (select * from (select rownum as rownumber, p_index.* from tbl_posts p_index where post_status>=0 ) posts order by rownum desc)po )where row_num = #{init_post} </select>

<!-- 게시글 상태 변경 -->
<update id="updateStatus">
	update tbl_posts set post_status=#{post_status} where post_no=#{post_no}
</update>

<!-- 여러개 게시글 상태 변경 -->
<update id="updateListStatus">
	update tbl_posts set post_status=#{post_status} where post_no IN
	<foreach item="item" collection="list" open="(" close=")" separator=",">
			${item}
	</foreach>
</update>

<!-- 여러개 게시글 상태 조회 -->
<select id="selectListStatus" resultType="PostsVo">
	select post_no, post_status, post_updatetime from tbl_posts where post_no IN
	<foreach item="item" collection="list" open="(" close=")" separator=",">
			${item}
	</foreach>
</select>

<!-- 오늘 올라온 게시글 조회 -->
<select id="selectDailyPost" resultType="PostsVo">
	select * from tbl_posts
	where to_char(post_createtime, 'YYYYMMDD') = to_char(sysdate, 'YYYYMMDD')
</select>

</mapper>