<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmerz.app.posts">

<select id="selectAllPosts" resultType="PostsVo">
	select * from tbl_posts
</select>

<select id="selectStatusPosts" resultType="PostsVo">
	select * from tbl_posts where post_status = #{status}
</select>

<!-- 글 조회 -->
<select id="selectPost" resultType="PostsVo">
	select * from tbl_posts where post_no = #{post_no}
</select>

<!-- 조회수 증가 -->
<update id="updateReadCount">
	update tbl_posts 
	set post_readcount = post_readcount + 1
	where post_no = #{post_no}
</update>

<!-- 커뮤니티 페이지 이동후 나오는 포스트 -->
<select id="selectCommunityPostList" resultType="PostsVo">
	select * from tbl_posts
	where community_id = #{community_id}
	and post_status = #{post_status}
</select>

<!-- 카테고리 선택시 나오는 포스트 -->
<select id="selectCategoryPostList" resultType="PostsVo">
	select * from tbl_posts
	where community_id = #{community_id}
	and category_no = #{category_no}
	and post_status = #{post_status}
</select>

<!-- 글번호 시퀀스 조회 -->
<select id="selectSeqPostno" resultType="Integer">
	select seq_post_no.nextval from dual
</select>


<insert id="postingDetail">
insert into tbl_posts values(
	#{post_no},
	#{user_no},
	#{community_id},
	#{category_no},
	#{post_title},
	#{post_content_file},
	0,
	0,
	sysdate,
	'admit'
	)
</insert>

<!-- 로그인 유저가 작성한 개시글 갯수 구하기 -->
<select id="selectUserPostCount" resultType="int">
	select count(*) from tbl_posts where user_no = #{user_no}
</select>

<select id="selectLoadPost" resultType="PostsVo">
	select * from (select rownum as rownumber, p_index.* from tbl_posts p_index where post_status='accept') posts where posts.rownumber = #{init_post}
</select>

<!-- 게시글 상태 변경 -->
<update id="updateStatus">
	update tbl_posts set post_status=#{post_status} where post_no=#{post_no}
</update>
</mapper>