<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmerz.app.posts">

<select id="selectAllPosts" resultType="PostsVo">
	select * from tbl_posts
</select>

<!-- 커뮤니티 페이지 이동후 나오는 포스트 -->
<select id="selectCommunityPostList" resultType="PostsVo">
	select * from tbl_posts
	where community_id = #{community_id}
</select>

<!-- 카테고리 선택시 나오는 포스트 -->
<select id="selectCategoryPostList">
	select * from tbl_posts
	where community_name = #{community_name}
	and category_id = #{category_id}
</select>

</mapper>