@charset "UTF-8";

.font-12
{
	font-size:12;	
}
.font-14
{
	font-size:14;	
}
.font-16
{
	font-size:16;	
}
.font-18
{
	font-size:18;
	font-weight: 500;
}
.font-20
{
	font-size:20;	
}
.font-22
{
	font-size:22;	
}
.font-24
{
	font-size:24;	
}
.font-26
{
	font-size:26;	
}
.font-28
{
	font-size:28;	
}
.font-30
{
	font-size:30;	
}