@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"Poppins",sans-serif;
}
section
{
	padding:100px;
}
.banner
{
	position:relative;
	min-height: 100vh;
	background:url(/resources/images/background.jpg);
	background-size:cover;
	background-position:right;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.banner h2
{
	font-size:3em;
	color:#fff;
	font-weight:500;
	line-height: 1.5em;
}
.banner h2 span
{
	font-size:1.5em;
	font-weight: 500;
}
.banner h3
{
	font-size:1.5em;
	color:#fff;
	font-weight:500;
}
.btn
{
	position: relative;
	background: #2196f3;
	display: inline-block;
	color:#fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
}
.btn:hover
{
	background: #222222;
}
header
{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
header .logo
{
	background-color: #000;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}
header ul
{
	background-color:#000;
	position: relative;
	display: flex;
}
header ul li
{
	position: relative;
	list-style: none;
}
header ul li a
{
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;

}
.stickyHeader
{
	position: relative;
	list-style: none;
}
.stickyHeader ul li
{
	background-color: #000;
	position: relative;
	list-style: none;
}
.stickyHeader ul
{
	background-color:#000;
	position: relative;
	display: flex;
}
.stickyHeader ul li
{
	position: relative;
	list-style: none;
}
.stickyHeader ul li a
{
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;

}
.postSection
{
	height:auto;	
}
.sticky
{
  position: sticky;
  top: 80px;
}
.posts
{
	height:300vh;	
	display: flex;
}
.lSidebar
{
	font-size:40px;
	text-align: center;
	background-color: #00ffff;
	width: 25%;
}
.postList
{
	font-size:40px;
	text-align: center;
	background-color: #ff00ff;
	width: 50%;
}
.rSidebar
{
	font-size:40px;
	text-align: center;
	background-color: #ffff00;
	width: 25%;
}
.post
{
	margin: 15 15px;
	background-color: #001789;
	border-radius: 7px 7px 7px 7px;
	height: 300px;
}