@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
html
{
	background-color: #d9e0e6;
}
html,
body {
  height: 100%;
  margin: 0;
}
section {
  height: 100vh;
}
*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"Poppins",sans-serif;
}
.banner
{
	position:relative;
	min-height: 100vh;
	background:url(/resources/images/background.jpg);
	background-size:cover;
	background-position:right;
	display:flex;
	justify-content: center;
	align-items: center;
}
.banner h2
{
	font-size:3em;
	color:#fff;
	font-weight:500;
	line-height: 1.5em;
}
.banner h2 span
{
	font-size:1.5em;
	font-weight: 500;
}
.banner h3
{
	font-size:1.5em;
	color:#fff;
	font-weight:500;
}
.btn
{
	position: relative;
	background: #2196f3;
	display: inline-block;
	color:#fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
}
.btn:hover
{
	background: #222222;
}
.searchBar
{
	border-radius:7px;
	margin:1%;
	background-color:#fff;
	position: relative;
	z-index: -1;
}
.searchBar > input
{
	border:none;
	margin: 1%;
	width:99%;
}
.stickyHeader
{
	border-radius:7px;
	margin:1%;
	background-color:#9f9f9f;
	position: relative;
	list-style: none;
}
.stickyHeader ul
{
	position: relative;
	display: flex;
}
.stickyHeader ul li
{
	position: relative;
	list-style: none;
}
.stickyHeader ul li a
{
	font-size:20px;
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;

}
.sticky
{
  position: sticky;
  top:55px;
}
.stickyUnderInfo
{
	position: sticky;
  	top:270px;
}
.posts
{
	display: flex;
}
.postList
{
	font-size:40px;
	text-align: center;
	width: 50%;
}
.post
{
	margin: 10px;
	background-color: #001789;
	border-radius: 7px 7px 7px 7px;
	height: 300px;
}
video
{
	max-width: 340px;
}