@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.rSidebar
{
	text-align: center;
	width: 15%;
}
.userinfo
{
	margin: 0 5%;
	width: 90%;
	height:200px;
}
.hotList
{
	list-style: none;
	margin:5%;
}
.hotList ol
{
	list-style: none;	
}
.hotList ol li
{
	font-size:18;
}
.hr
{
	border-color: #cccccc;
	border-width:1.5px;
	border-bottom-style: solid;
	display:flex;
	justify-content: center;
	height:35;
}