@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.rSidebar
{
	font-size:40px;
	text-align: center;
	width: 15%;
}
.userinfo
{
	margin:5%;	
	width: 90%;
	height:200px;
}
.hotList
{
	list-style: none;
	margin:5%;
}
.hotList ul
{
	list-style: none;	
}