
@charset "UTF-8";

.slider
{
	margin-top:70px;
	overflow:hidden;
}

.slider figure
{
	position:relative;
	width:714%;
	margin:0;
	left:0;
}
.slider figure div{
	width:14%;
	float:left;
}
@keyframes slider{
	0%{
	left:0;
	}
	9%{
	left:0;
	}
	14%
	{
	left: -100%;
	}
	23%
	{
	left: -100%;
	}
	28%
	{
	left: -200%;
	}
	37%
	{
	left: -200%;
	}
	42%
	{
	left:-300%;
	}
	51%
	{
	left:-300%;
	}
	56%
	{
	left:-400%;
	}
	65%
	{
	left:-400%;
	}
	70%
	{
	left:-500%;
	}
	79%
	{
	left:-500%;
	}
	84%
	{
	left:-600%;
	}
	93%
	{
	left:-600%;
	}
	98%
	{
	left:-600%;
	}
	
 <!-- -->
}